.container{
	width: 1441px;
	margin: 0 auto;
	background-color: #fcfafa;
}
.header_logo{
	display: inline-block;
	width: 39px;
	vertical-align: middle;
	margin-right: 130px;
	margin-left: 20px;
}
nav{
	display: inline-block;

}
.girl_image{
	display: inline-block;
	vertical-align: middle;

}
li{
	display: inline-block;
	margin: 30px;
	vertical-align: middle;
}

/*//section 1*/
.container1{
	width: 1061px;
	height: 362px;

}
/*surati iqneba relativi da naweri ikneba absoluti*/
/*magram surati araa daxuruli bloki, amitom mchirdeba gamaertianebeli tavisi klasit*/
/*da am klass mivanicheb relativs da teqsti ikneba absoluti*/
.left{
	position: relative;
	width: 361px;
	display: inline-block;
}
.covertext{
	position: absolute;
	margin-top: 28px;
	margin-left: 40px;
}


/*.middle{
	width: 361px;
	display: inline-block;
	position: relative;
}*/


.right{
	width: 161px;
	position: relative;
	display: inline-block;

}
.left1{
	position: relative;
	width: 361px;
	display: inline-block;
}
.middle1{
	position: relative;
	width: 361px;
	display: inline-block;

}
.right1{
	position: relative;
	width: 361px;
	display: inline-block;

}
.covertext1{
	position: absolute;
	margin-top: 28px;
	margin-left: 40px;
}
